<p id="notice"><%= notice %></p>

<h1>Reservas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Livro</th>
      <th>Cliente</th>
      <th>Bibliotecário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.book.name %></td>
        <td><%= reservation.client.name %></td>
        <td><%= reservation.librarian.email %></td>
        <td><%= link_to 'Mostrar', reservation %></td>
        <td><%= link_to 'Editar', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Excluir', reservation, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Reserva', new_reservation_path %>
